.metadata
.dm
.gradle
/Releases
/.nb-gradle/
*.bin
*.dmp
*.elf
*.lss
*.map
*.rpt
*.srec
*.swp
*.zpu
*.log
*.done
*.smsg
*.summary
*.jdi
*.pin
*.out.sdc
*.sof
*.sld
*.rbf
*.qws
*.sav
*.pof
*.qdf
*.srf
*.o
Manuals/
software/asm/CPM22-BIOS.asm
software/asm/MZ80AFI.asm.bak
software/asm/cpm22.mzf
software/asm/dz80.ini
software/asm/old/
software/howto
software/roms/MZ80AFI.BIN
software/roms/MZ80AFI.rom
software/roms/bios.rom
software/roms/cpm22.rom
software/tmp/
software/src/FatFS
software/src/sav
software/asm/cbios.asm.bak
software/asm/sav/
software/rfs_bank2.asm.1703.2200
software/roms/cbios_bank5.rom
software/roms/cbios_bank6.rom
software/roms/cbios_bank7.rom
software/roms/cbios_bank8.rom
software/src/sdtest.c
software/CPM/tools/
software/asm/rfs_bank2.prewriteread
software/roms/SHARP_MZ80A_RFS_CPM_IMAGE_1.img
software/roms/SHARP_MZ80A_RFS_IMAGE_1.img
software/roms/cmp
schematics/MZ80-ROMPG/
software/MZF/BASIC.mzf
software/OriginalSA-1510.BIN
software/asm/.cbios.asm.swo
software/dump

